body { background: #8b41a3; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 24px; display: flex; }
.block-router-0 { color: #f679e9; font-size: 16px; margin-bottom: 5px; }
.block-uploader-1 { color: #e6159f; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #88574d; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #68a3f3; font-size: 21px; margin-bottom: 5px; }
.block-helper-4 { color: #36c38c; font-size: 13px; margin-bottom: 5px; }
.block-payment-5 { color: #607d8; font-size: 20px; margin-bottom: 5px; }